@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* navbar */

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 40px 0;
  position: fixed;
  font-family: "Varela Round", sans-serif;
  transition: all 0.4s ease-in-out;
}

.navbar.scrollDown {
  padding: 15px 0;
  background: #00c6cf;
}

.navbar .page-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-width {
  max-width: 1400px;
  padding: 0 80px;
  margin: auto;
}

.navbar .logo a {
  color: #ffffff;
  font-size: 35px;
  font-weight: bolder;
}

.navbar .logo a span {
  color: #00c6cf;
  transition: all 0.4s ease-in-out;
}

.navbar.scrollDown .logo a span {
  color: #ffffff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 25px;
  transition: color 0.4s ease-in-out;
}

.navbar .menu li a:hover {
  color: #00c6cf;
}

.navbar.scrollDown .menu li a:hover {
  color: #ffffff;
}

/* menu buton */

.menu-btn {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* content sections*/

section {
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #ffffff;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #00c6cf;
  padding: 5px;
  transform: translateX(-50%);
}

/* home section */

.home {
  display: flex;
  background: #262626;
  height: 100vh;
  color: #ffffff;
  min-height: 500px;
  font-family: "Comfortaa", cursive, sans-serif;
}

.home .page-width {
  margin: auto 0 auto 40px;
}

.home .home-content .intro-text-1 {
  font-size: 28px;
}

.home .home-content .intro-text-2 {
  font-size: 75px;
  font-weight: bolder;
  margin-left: -4px;
}

.home .home-content .intro-text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .intro-text-3 span {
  color: #00c6cf;
  font-weight: bolder;
}

/* about section */

.about {
  font-family: "Comfortaa", cursive, sans-serif;
  background: #3d3d3d;
  color: #ffffff;
}

.about .title::after {
  content: "who am i";
  background: #3d3d3d;
}

.about .about-content,
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #00c6cf;
}

.about .about-content .right p {
  text-align: justify;
}

button {
  transition: box-shadow 0.4s ease-in-out;
  width: 140px;
  height: 45px;
  margin-top: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: #262626;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
}

.about .about-content .right button {
  display: inline-block;
}

.about .about-content .right button:hover {
  background-color: #00c6cf;
  box-shadow: 0px 15px 20px rgba(46, 229, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* skills section */

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 6px;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.skills {
  font-family: "Comfortaa", cursive, sans-serif;
  background: #262626;
  color: #ffffff;
}

.skills .title::after {
  content: "tech stack";
  background: #262626;
}

.skills .skills-content .card {
  background: #3d3d3d;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
}

.skills .skills-content .card .box {
  transition: all 0.4s ease-in-out;
}

.skills .skills-content .card:hover {
  background: #00c6cf;
}

.skills .skills-content .card:hover .box {
  transform: scale(1.04);
}

.skills .skills-content .card i {
  font-size: 50px;
  color: #00c6cf;
  transition: color 0.4s ease-in-out;
}

.skills .skills-content .card:hover i {
  color: #ffffff;
}

.skills .skills-content .card .text {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px 0px 8px;
}

/* projects section */

.projects {
  font-family: "Comfortaa", cursive, sans-serif;
  background: #3d3d3d;
  color: #ffffff;
}

.projects .title::after {
  content: "experience";
  background: #3d3d3d;
}

.projects .slider .card {
  background: #262626;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.projects .slider .card:hover {
  background: #00c6cf;
}

.projects .slider .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  transition: all 0.4s ease-in-out;
}

.projects .slider .card:hover .box {
  transform: scale(1.04);
}

.projects .slider .card .text {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px 0 8 0;
}

.projects .slider .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #00c6cf;
}

.projects .slider .card:hover img {
  border-color: #ffffff;
}

/* owl carousel*/

.owl-nav {
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: #ffffff !important;
  color: #262626 !important;
  border: none;
  padding: 0 !important;
  margin: 15px 4px 20px;
  width: 80px;
  font: inherit;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #00c6cf !important;
  box-shadow: 0px 15px 20px rgba(46, 229, 229, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
}

/* contact section*/

.contact {
  font-family: "Comfortaa", cursive, sans-serif;
  background: #262626;
  color: #ffffff;
}

.contact .title::after {
  content: "get in touch";
  background: #262626;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 80%;
  max-width: 480px;
  margin: 0 auto;
  grid-gap: 40px;
  padding-top: 50px;
  justify-items: center;
}

.contact-content a {
  color: #00c6cf;
}

.contact-content div {
  padding: 5px;
}

.icon {
  font-size: 20px;
}

/* footer */

footer {
  font-family: "Comfortaa", cursive, sans-serif;
  background: #00c6cf;
  color: #ffffff;
  padding: 20px 24px;
}

/* media queries */

@media (max-width: 1366px) {
  .home .page-width {
    margin-left: 0px;
  }
}

@media (max-width: 1124px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 980px) {
  .page-width {
    padding: 0 50px;
  }
}

@media (max-width: 920px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #262626;
    text-align: center;
    padding: 80px;
    transition: all 0.4s ease-in-out;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .intro-text-2 {
    font-size: 70px;
  }

  .home .home-content .intro-text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 24px;
    padding: 10px 30px;
  }

  .page-width {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
  .email,
  .phone {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 50px;
    width: 300px;
    justify-items: left;
  }
}

@media (max-width: 680px) {
  .page-width {
    padding: 0 24px;
  }

  .home .home-content .intro-text-2 {
    font-size: 50px;
  }

  .home .home-content .intro-text-3 {
    font-size: 24px;
  }

  .email,
  .phone {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 50px;
    width: 300px;
    justify-items: left;
  }
}

@media (max-width: 480px) {
  .home .home-content .intro-text-2 {
    font-size: 50px;
  }

  .home .home-content .intro-text-3 {
    font-size: 24px;
  }

  .email,
  .phone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    width: 80;
    justify-items: left;
  }

  .email i,
  .phone i {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    width: 50px;
    justify-items: left;
  }

  .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
  }

  .socials {
    justify-items: center;
  }
}
